<?xml version="1.0"?>
<launch>
  <!-- ARGUMENTS -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find jackal_gazebo)/worlds/jackal_race.world" />
  
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sick_tim)/urdf/sick_tim551.urdf.xacro'" />
  <!-- SPAWN ROBOT MODEL -->    
    <!-- This one is for rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- This one is for gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model sick_tim551 -param robot_description -x 0 -y 0 -z 1.0" />
  
</launch>
